<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Customer Form</title>
</head>
<body>
  <nav class="nav-wrapper purple">
    <a th:href="@{/}" class="brand-logo">Customer CRUD</a>
    <ul class="right">
        <li><a th:href="@{/}">Customers</a></li>
        <li><a th:href="@{/customerform}">Add Customer</a></li>
    </ul>
</nav>
    <div class="row">
        <form class="col s12" method="post" th:action="@{/customerform}" th:object="${customer}">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" id="first_name" th:field="*{firstName}" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" th:field="*{lastName}" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" th:field="*{email}" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="mobile" type="tel" th:field="*{mobile}" class="validate">
              <label for="mobile">Mobile</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="url" type="url" th:field="*{profileUrl}" class="validate">
              <label for="url">Photo URL</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" th:field="*{password}" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input class="btn green lighten-2 center" type="submit" value="Register">
            </div>
          </div>

        </form>
      </div>    
</body>
</html>